<h1>Your Cuisines:</h1>

<% @cuisines.each do |cuisine| %>
  Category: <%= cuisine.category %><br><br />
  Classification: <%= cuisine.classification %><br><br/ >
  <li><%= link_to "Go on #{cuisine.category}", cuisine_path(cuisine) %></li> 
<% end %>

Add To Your Collection!<br>
<%= link_to "Add New Cuisine", new_cuisine_path %>
