<center><h1>Create Your Cuisine!</h1><center>

  <%= image_tag "https://www.sbs.com.au/food/sites/sbs.com.au.food/files/sauerkraut.jpg" %><br><br />

<% if @cuisine.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @cuisine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: 'form', locals: {cuisine: @cuisine} %>
