<h2>Welcome, <%= @user.name %>. Let's start cooking!</h2>

Search for new cuisines!
<%# <%= link_to "Search Cuisines", cuisines_path %> %>

View your existing recipes!
<%# <%= link_to "Your Meals", meals_path %> %>

<h3>Create Your Curated Cuisine Collection</h3>
<%= link_to "Create Cuisine", new_cuisine_path %>

#log out link
