<h2>Welcome to Cuisine Curator, <%= current_user.name %>!</h2>

<%= image_tag "http://luparestaurant.com/wp-content/uploads/sites/33/2015/12/2015-1116_feast-of-seven-fishes-hero-024_james-ransom.jpg" %>

<!-- <h2><%= link_to "Sign Up", new_user_path %></h2> -->
