<h1>Create a New Meal in <%= @cuisine.classification %> Cuisine</h1>

<% if @meal.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @meal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: 'form', locals: {meal: @meal} %>
