<h1><%= @meal.name %></h1>

<%= button_to "Delete Meal", meal_path(@meal), :method => "delete" %>
# iterate over ingredients @meal.ingredients

#scope method defined in meal.rb,
#custom view for meals index (insert search form)
#search for meals by specific ingredient (uniq)
#ingredients will not be nested
