<h1><%= @meal.name %></h1>

<%= @meal.ingredients %><br><br/ >

<% if current_user.meals.include?(@meal) %>
  <%= link_to "Edit Meal", edit_meal_path %>
<% end %>


# iterate over ingredients @meal.ingredients

#scope method defined in meal.rb,
#custom view for meals index (insert search form)
#search for meals by specific ingredient (uniq)
#ingredients will not be nested
